In [1]:
#Import the dependenceies.
import pandas as pd
import gmaps
import requests
#Import the API key.
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a data frome.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2022-08-30 10:38:11,-24.7911,-50.0119,46.11,83,99,11.39
1,1,Punta Arenas,CL,2022-08-30 10:41:04,-53.1500,-70.9167,39.31,87,75,9.22
2,2,Mataura,NZ,2022-08-30 10:41:04,-46.1927,168.8643,43.48,93,100,2.55
3,3,Kapaa,US,2022-08-30 10:41:05,22.0752,-159.3190,79.12,85,75,13.80
4,4,Clyde River,CA,2022-08-30 10:41:05,70.4692,-68.5914,35.83,100,100,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Heatmap of temperature

#Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temerpature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temerpature you would like for your trip? 85

In [10]:
#Filtre the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kapaa,US,2022-08-30 10:41:05,22.0752,-159.3190,79.12,85,75,13.80
5,5,Namatanai,PG,2022-08-30 10:41:05,-3.6667,152.4333,79.00,84,42,8.14
6,6,Bouna,CI,2022-08-30 10:41:06,9.2667,-3.0000,76.98,83,92,3.47
14,14,Hithadhoo,MV,2022-08-30 10:37:18,-0.6000,73.0833,81.61,70,100,15.43
16,16,Kahului,US,2022-08-30 10:40:27,20.8947,-156.4700,78.84,94,0,7.00
17,17,Butaritari,KI,2022-08-30 10:41:10,3.0707,172.7902,81.55,78,98,17.56
18,18,Atuona,PF,2022-08-30 10:41:10,-9.8000,-139.0333,76.51,73,57,23.11
19,19,Itarema,BR,2022-08-30 10:41:11,-2.9248,-39.9167,81.28,62,66,14.20
22,22,Ribeira Grande,PT,2022-08-30 10:41:12,38.5167,-28.7000,75.60,83,20,3.44
24,24,Bardiyah,LY,2022-08-30 10:41:13,31.7561,25.0865,84.88,57,0,14.90

In [11]:
preferred_cities_df.count()

City_ID       245
City          245
Country       245
Date          245
Lat           245
Lng           245
Max Temp      245
Humidity      245
Cloudiness    245
Wind Speed    245
dtype: int64

In [12]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df= preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
3       Kapaa      US     79.12  22.0752 -159.3190
5   Namatanai      PG     79.00  -3.6667  152.4333
6       Bouna      CI     76.98   9.2667   -3.0000
14  Hithadhoo      MV     81.61  -0.6000   73.0833
16    Kahului      US     78.84  20.8947 -156.4700

In [13]:


#Set parameters to search for a hotel.
params= {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Adding the hotel names
for index,row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    #Use the search term "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
       
    #Make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()

    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found....skipping")

Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping
Hotel not found....skipping

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Namatanai,PG,79.00,-3.6667,152.4333,Seagulls Inn Namatani
6,Bouna,CI,76.98,9.2667,-3.0000,Hôtel lababa
14,Hithadhoo,MV,81.61,-0.6000,73.0833,Scoop Guest House
16,Kahului,US,78.84,20.8947,-156.4700,Maui Seaside Hotel
17,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
18,Atuona,PF,76.51,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
19,Itarema,BR,81.28,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
22,Ribeira Grande,PT,75.60,38.5167,-28.7000,Quinta da Meia Eira
24,Bardiyah,LY,84.88,31.7561,25.0865,بورتو بردية

In [17]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df [["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(40.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template= """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df [["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(40.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))